@import "_libs.sass"
@import "_vars.sass"

// Шрифты
@font-face
  font-family: "ProximaNovaBold"
  src: url(../fonts/ProximaNova-Bold.woff2) format("woff2")
  src: url(../fonts/ProximaNova-Bold.woff) format("woff")
  src: url(../fonts/ProximaNova-Bold.ttf) format("truetype")
  font-weight: bold
  font-style: normal

@font-face
  font-family: "ProximaNovaRegular"
  src: url(../fonts/ProximaNova-Regular.woff2) format("woff2")
  src: url(../fonts/ProximaNova-Regular.woff) format("woff")
  src: url(../fonts/ProximaNova-Regular.ttf) format("truetype")
  font-weight: normal
  font-style: normal	

// Базовые стили
html
	font-size: 10px

body
	margin: 0
	padding: 0
	font-family: $reg

button, input, a, textarea 
	&:focus
		outline: none

// Базовая стилизация кнопки

.btn 
	background-color: $btn
	color: $light
	padding: 1.5rem 3rem
	text-transform: uppercase
	text-decoration: none
	box-shadow: 0 8px 13px rgba(0, 0, 0, 0.04)
	border-radius: 8px
	border: 1px solid #ffba15
	background-color: linear-gradient(to top, #f5ad00 0%, #ffb504 100%)
	transition: all 0.2s
	&:hover
		cursor: pointer
		background-color: darken($btn, 5%)

// Главная

.main
	padding: 1.5rem 0
	background: url(../img/main-bg.jpg) top center no-repeat
	background-size: cover

// Телефон шапки 
.header__phone
	display: inline-block
	color: $text
	text-decoration: none
	font-family: $bold
	font-size: 2rem	
	font-weight: bold

// Кнопка шапки
.header__btn
	font-family: $bold
	font-size: 1.3rem

.header__btn-mobile
	font-family: $bold
	font-size: 1.3rem

// Главная часть текста шапки
.header__main
	margin-top: 8rem
// Заголовок шапки
.header__title
	margin-top: 0
	font-family: $bold
	font-size: 4rem
	font-weight: bold
	text-transform: uppercase
	line-height: 1.45
	color: #292929
//Подзаголовок шапки
.header__description
	margin-bottom: 3rem
	font-family: $reg
	font-size: 2.4rem
	color: #292929

.header__text
	display: block	

.header__value 
	display: inline-block
	margin-bottom: 3rem
	padding: 2rem 4rem 2rem 4rem
	background-color: #70c849
	font-family: $reg
	font-size: 2rem
	color: $light
	strong
		font-size: 3.5rem

.header__trigger
	display: block
	font-family: $bold
	font-size: 2.2rem
	font-weight: bold
	text-transform: uppercase
// Форма отправки шапки
.main__form
	padding: 4rem 4rem
	background-color: $light
	text-align: center
// Заголовок формы
.form__title
	margin-bottom: 4rem
	font-family: $reg
	font-weight: normal
	font-size: 1.8rem
	strong
		font-weight: bold
// Поля ввода формы
.form__input
	display: block
	margin: 2rem 0
	width: 100%
	padding: 1.5rem 3rem
	border: 1px solid $border-input	
	border-radius: 5px

.textarea
	padding: 4rem 3rem		

// Подсказки формы
.form__label
	display: inline-block
	padding: 0.5rem
	position: absolute
	left: 50%
	transform: translateX(-50%) translateY(-50%)
	background-color: $light
	font-size: 1.3rem	
// Кнопка формы
.form__btn
	display: block
	width: 100%
	font-family: $bold
// Предупреждение формы
.form__small
	display: block
	margin: 1.5rem
	font-size: 1.3rem	

.form__description
	font-size: 1.3rem
	margin-top: 2.5rem
	text-align: center
	span
		display: block	

// Оформление секции с преимуществами

.features__title
	margin: 10rem 0
	font-family: $bold
	font-size: 3.6rem
	text-align: center

.features__item
	text-align: center
	h3
		font-family: $bold
		font-size: 2rem
	img
		height: 8rem
		padding-bottom: 3rem		
		display: block
		margin: 0 auto
	p
		display: inline-block
		width: 80%
		font-size: 1.4rem		
	span
		display: block	

.slick-active
	outline: none

.prev
	left: 0
	background: url(../img/arrow__left.svg) center no-repeat
	background-size: 70%
	opacity: 0.3	

.arrow
	top: 50%			
	transform: translateY(-50%)
	position: absolute
	width: 2rem
	height: 2rem
	border: none	
	z-index: 99

.next
	right: 0
	background: url(../img/arrow__right.svg) center no-repeat	
	background-size: 70%
	opacity: 0.3

// Оформление всплывающих окон

.popup
	display: none
	position: fixed
	left: 0
	top: 0
	right: 0
	bottom: 0
	width: 100%
	height: 100%
	z-index: 9	
	background-color: rgba(0, 0, 0, 0.5)
	.popup__dialog
		.popup__content
			position: fixed	
			top: 10%
			left: 50%
			background-color: $light
			transform: translateX(-50%)
			padding: 2rem 5rem
			text-align: center
			.popup__close
				cursor: pointer
				position: absolute
				top: -1rem
				right: -2rem
				width: 2rem
				text-align: center
				border: none
				background-color: transparent 
				font-size: 3rem
				color: $light
			.popup__header
				margin-top: 4rem
				font-family: $bold
				font-size: 1.8rem
			p 
				font-size: 1.8rem
				max-width: 245px

.popup__form
	padding: 2rem 2rem	


// Медиа-запросы

@media (max-width: 1200px)
	.header__btn
		padding: 1rem 3rem

@media (max-width: 991px) 
	.main
		background-position: top right
	.header__phone //? проверить пользу запроса
		display: block
		text-align: center		
	.header__main
		margin-top: 4rem
		text-align: center
	.header__content
		margin-bottom: 4rem	

@media (max-width: 767px)
	.main 
		background-position: top left
	.header
		text-align: center
	.header__phone
		margin-top: 3rem
	.header__btn
		margin-top: 4rem
		font-size: 1.5rem
		padding: 2rem 3rem
	.header__title
		font-size: 3.2rem
	.header__description
		font-size: 2.2rem	

@media (max-width: 575px)
	.header__phone 
		margin-top: 0
	.logo	
		margin-top: 4rem
		padding-bottom: 3rem
	.header__btn
		margin-top: 0
		padding: 1.5rem 2.5rem
		font-size: 1.3rem
   	 
@media (min-width: 420px)	
	.xl
		display: block
	.sm 
		display: none				
   	 
@media (max-width: 420px)	
	.header__title
		font-size: 2.4rem	
	.header__description
		font-size: 2rem	
	.header__btn
		padding: 1.5rem 2rem			
	.xl
		display: none
	.sm 
		display: block		