doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		title Гипсолит

		link(rel="stylesheet" href="static/css/bootstrap-grid.min.css")
		link(rel="stylesheet" href="static/css/main.css")
	body
		main.main
			.container
				.header
					.row.align-items-center
						.col-lg-3.col-md-4.col-12.order-3.order-sm-1
							.logo
								img(src="static/img/logo.png" alt="Гипсолит. Штукатурка стен")
						.col-xl-2.offset-xl-4.col-lg-3.offset-lg-3.col-md-4.offset-md-0.col-sm-12.col-6.order-1.order-sm-2
							a.header__phone(href="#") +7 495 771 05 08
						.col-lg-3.col-md-4.col-sm-12.col-6.order-2.order-sm-3
							button.btn.header__btn(type="submit") 
								span.xl получить консультацию
								span.sm консультация

				.header__main
					.row
						.col-lg-6.col-md-12
							.header__content
								h1.header__title Автоматизированная штукатурка стен
								p.header__description
									span.header__text Идеально ровные стены
									| в кратчайшие сроки
								p.header__value
									| Стоимость работ
									br
									| от 
									strong 300 
									| руб/м
									sup 2
								strong.header__trigger Оплата по факту!	
						.col-xl-4.offset-xl-2.col-lg-5.offset-lg-1.col-md-8.offset-md-2.col-12
							.main__form
								h2.form__title Для расчёта точной стоимости 
									br 
									|	закажите 
									strong выезд замерщика
								form(action='#')
									label.form__label(for='#') Ваше имя
									input.form__input(type='text')
									label.form__label(for='#') Номер телефона
									input.form__input(type='text')
									button.btn.form__btn(type='submit') Оставьте заявку
									small.form__small подарок в день обращения*
							p.form__description 
								span * - выезды на замер осуществляются 
								|	в рабоче дни Пн-Пт с 9:00 до 18:00
		section.features
			.container
				h2.features__title Преимущества работы с нами
				.features__slider
					.features__item
						picture
							source(srcset="static/img/coin.svg" type="image/")
							img(src="static/img/coin.png" alt="Платите по факту")
						h3 Платите по факту
						p Вы оплачиваете выполненные работы только после их выполнения. 
							span Никаких скрытых доплат и промежуточных платежей.

					.features__item
						picture
							source(srcset="static/img/folder.svg" type="image/")
							img(src="static/img/folder.png" alt="Заключаем договор")
						h3 Заключаем договор
						p Перед началом работ заключаем договор на юридическое лицо. 
							span Вы можете быть уверены, что все обязательства будут выполнены.

					.features__item
						picture
							source(srcset="static/img/clock.svg" type="image/")
							img(src="static/img/clock.png" alt="Точно в срок")
						h3 Точно в срок
						p Работаем строго по установленным срокам, которые прописаны в договоре. Если не успеваем, Вы платите меньше
					.features__item
						picture
							source(srcset="static/img/piggy_bank.svg" type="image/")
							img(src="static/img/piggy_bank.png" alt="Экономите на материалах")
						h3 Экономите на материалах
						p Мы являемся структурным подразделением компании поставщика строительных смесей gicema.ru  и даём Вам самые выгодные цены.

	script(src="static/js/libs.min.js")
	script(src="static/js/main.js")
