doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title Гипсолит

		link(rel="stylesheet" href="static/css/bootstrap-grid.min.css")
		link(rel="stylesheet" href="static/css/main.css")
	body
		main.main
			.container
				.header
					.row.align-items-center
						.col-xl-3
							.logo
								img(src="static/img/logo.png" alt="Гипсолит. Штукатурка стен")
						.col-xl-2.offset-xl-4
								a.header__phone(href="#") +7 495 771 05 08
						.col-xl-3
							button.btn.header__btn получить консультацию

				.header__main
					.row
						.col-xl-6
							.header__content
								h1.header__title Автоматизированная штукатурка стен
								p.header__description
									span.header__text Идеально ровные стены
									| в кратчайшие сроки
								p.header__value
									| Стоимость работ
									br
									| от 
									strong 300 
									| руб/м
									sup 2
								strong.header__trigger Оплата по факту!	
						.col-xl-4.offset-xl-2
							.main__form
								h2.form__title Для расчёта точной стоимости 
									br 
									|	закажите 
									strong выезд замерщика
								form(action='#')
									label.form__label(for='#') Ваше имя
									input.form__input(type='text')
									label.form__label(for='#') Номер телефона
									input.form__input(type='text')
									button.btn.form__btn(type='submit') Оставьте заявку
									small.form__small подарок в день обращения*
	




		//- script(src="static/js/libs.min.js")
		//- script(src="static/js/main.js")
